<plugin name='cometd' version='0.1'>
  <author>Mingfai Ma</author>
  <authorEmail>mingfai.ma@gmail.com</authorEmail>
  <title>Enable your Grails application with Comet functions</title>
  <documentation>http://grails.org/Cometd+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>